div#creature {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: calc(var(--general-padding) * 4);
    margin: var(--general-margin);
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#creature img {
    height: var(--creature-max-height);
    width: var(--creature-max-width);
    object-fit: contain;
    image-rendering: pixelated;
}