 /* ______________TOP NAV_____________________*/

nav#topNav {
    display: flex;
    align-items: left;
    height: 20px;
    flex-shrink: 0;
    background-color:  var(--light-background-color);
    justify-content: space-between;
    -webkit-box-shadow: 0px 11px 3px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 11px 3px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 11px 3px -7px rgba(0, 0, 0, 0.5);
}

    nav#topNav ul {
        padding-left: var(--general-padding) ;
        display: inherit;
    }

    nav#topNav li {
        display: inline-block;
        margin-right: var(--general-margin);
    }

    nav#topNav .ul-right p {
            margin: auto;
            padding-left: 0.5em;
            padding-right: 0.5em;
            display: inline-block;
            font-weight: bold;
        }

    /* ______________BOTTOM NAV_____________________*/

nav#bottomNav {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: var(--general-margin);
	padding: var(--general-padding);

       /* DISABLES TEXT SELECTION */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

    nav#bottomNav ul {
        /*Leaving this here for now*/

    }

    nav#bottomNav li {
        display: inline-block;
        text-align: center;
        border-bottom: 2px black;
		margin: var(--general-margin);

    }

    nav#bottomNav .action img:hover {
       /* transform: scale(1,0.9); */
        cursor: pointer;
    }

    @media only screen and (max-width: 850px) {

        nav#bottomNav {
            display: inline-block;
            justify-content: center;
            
        }

        nav#bottomNav ul {
            display:inherit;
            margin: 0 auto;
            text-align: center;

        }

        nav#bottomNav  li {
            display: inline-block;
			max-width: 5.5em;
			margin: calc(var(--general-margin)/3);
            padding-left: calc(var(--general-padding));
			padding-right: calc(var(--general-padding));
            vertical-align: top;

        }
    }