 /* ______________TOP NAV_____________________*/

nav#topNav {
    display: flex;
    align-items: left;
    height: 20px;
    flex-shrink: 0;
    background-color:  var(--light-background-color);
    justify-content: space-between;
    -webkit-box-shadow: 0px 11px 3px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 11px 3px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 11px 3px -7px rgba(0, 0, 0, 0.5);
}

    nav#topNav ul {
        padding-left: var(--general-padding) ;
        display: inherit;
    }

    nav#topNav li {
        display: inline-block;
        margin-right: var(--general-margin);
    }

    nav#topNav .ul-right p {
            margin: auto;
            padding-left: 0.5em;
            padding-right: 0.5em;
            display: inline-block;
            font-weight: bold;
        }
    
        nav#topNav a {
            text-decoration: none;
            color: black;
        }

            nav#topNav a:visited {
                color: black;
            }
            nav#topNav a:hover {
                color: white;
            }

    /* ______________BOTTOM NAV_____________________*/

nav#bottomNav {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: var(--general-margin);
	padding: var(--general-padding);

       /* DISABLES TEXT SELECTION */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

    nav#bottomNav ul {
        /*Leaving this here for now*/

    }

    nav#bottomNav li {
        display: inline-block;
        text-align: center;
		margin: var(--general-margin);

    }

    nav#bottomNav .action img:hover {
       /* transform: scale(1,0.9); */
        cursor: pointer;
    }


        /* ______________RESPONSIVENESS_____________________*/

    @media only screen and (max-width: 850px) {
        nav#topNav {
            display: inherit;
            flex-direction: column; 
            align-items: stretch;
            background-color: var(--light-background-color);
        }

        nav#topNav .ul-left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }

        nav#topNav .ul-right  {
            display: flex;
            flex-direction: row;
            font-size: 90%;
            align-items: stretch;
            justify-content: space-around;
            background-color: var(--light-background-color);
            object-fit: contain;
            margin-top: 2px;
            padding-top: 10px;
            padding-left: 6px;
            padding-right: 6px;
            border-top: 2px solid;

            -webkit-box-shadow: 0px 11px 3px -7px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 11px 3px -7px rgba(0,0,0,0.5);
            box-shadow: 0px 11px 3px -7px rgba(0, 0, 0, 0.5);
        }

        nav#topNav .ul-right p {
            border-top: 1px solid;
            text-align: center;
            display: block;
            margin: 0;
            padding: 0;
        }

        nav#topNav .healthy p {
            border-top: 0;
        }

        /* -------- BOTTOM --------*/

        nav#bottomNav ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 6px;
            margin: 6px;

        }
    
        nav#bottomNav li {
            text-align: center;
            
        }
    
        nav#bottomNav .action img {
            width: 40vh; /* Resize as needed */
            height: auto;
            max-height: 30vh;

        }
    }
    

    @media only screen and (max-width: 907px) {

        nav#topNav ul {
            display: inherit;
        }
        nav#topNav .ul-right p {
            text-align: center;
            margin: 0;
            padding: 0;
        }

    }

